
*{
   margin: 0 auto;  
}

/* Header Style */
header{
    background-image: url(../image/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 450px;
}
.head-top{
    height: 400px;
    text-align: center;  
}

.head-title{
    font-size: 55px;
    font-weight: 100px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.header-discription{
    color: rgb(219, 222, 225);

}

.btn-primary{
    color: azure;
    
    background-color: rgb(251, 24, 24);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

/* Main Style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.donate-today{
    margin:150px 200px ;
    text-align: center;
}
.donate-title{
    font-size: 45px;
    margin-bottom: 15px;
}
.donate-discription{
    margin-bottom: 20px;
}
.amount{

}
.amount ul{
    display: flex;
    gap: 10px;
    
    
    
    
}

.amount ul li{
   list-style: none;
   padding: 30px 30px;
   border-radius: 5px;
   background-color: aliceblue;
   
   


}

.other-amount{
    margin: 10px 0;
}

/* donate plan style */

.donate-plan{
    
    margin: 0 200px;
   
}
.our-donate-title{
    text-align: center;
    font-size: 45px;
margin-bottom:15px ;
}
.our-donate-decription{
    text-align: center;
    margin-bottom: 20px;

}
.our-plan{
    display: flex;
    gap: 20px;
    
    
   

}
.our-donate-service1{
    
    background-color: #5dbdce;

}
.our-donate-service2{
    
    background-color: #af57a8;

}
.our-donate-service3{
    
   background-color: rgb(187, 168, 105);
}
.plan-image{
    padding-top: 35px;
    padding-left: 15px;
}
.our-donate-service-title{
    margin-top: 10px;
    margin-left: 10px;

}
.our-donate-service-description{
   
    margin: 25px 40px;
}
/* their-lives */

.their-lives{
    display: block;
    
}
.their-leves-section{
    display: flex;
    gap: 50px;
    margin: 80px 100px;
}
.their-title-description-button{
    
}
.their-title{
   
}
.their-decscription{
    margin: 20px 0;
}
.their-btn{
    padding: 10px 30px;
    border: none;
    background-color: rgb(251, 24, 24);
    border-radius: 5px;
    color: #f5f0f5;

}
.their-img{
    height: 300px;
}

/* get-updates */
.get-updates{
    text-align: center;
}
.get-title{
    font-size: 45px;
    margin-bottom: 20px;
}
.get-description{
  margin-bottom: 40px;
}
.get-bnt{
    background-color: antiquewhite;
   width: 50%;
   padding: 50px;
   margin-bottom: 50px;
   
}
input{
    border: none;
    padding: 20px 30px;
    background-color: #ebeaeb;
    width: 200px;
       
}
.btn-get{
    color: azure;
    padding: 20px 30px;
    background-color: rgb(251, 24, 24); 
    border: none;
    
}
.ul{
    display:flex;
    border-radius: 10px;
    list-style: none;
    
}
/* Footer */
footer{
    
    background-color: black;
    
    text-align:center ;
}

footer h3{
   font-style: italic;
    font-size: 3rem;
    padding: 30px;
    color: #fc4848;


}

.footer-p{
    color: rgb(139, 139, 138);
    padding-bottom: 5px;

}